*.txt
*.html
*.swp
EPILOG/
.nfs*
*.fasl
norm/ttt/.svn
norm/ttt/scripts
norm/ttt/doc
G*.txt
ball*.txt
output*.txt
output*.lisp
*.dot
*.svg
*.png
coref-spanbert-large-2020.02.27.tar.gz
coref-spanbert-large-2021.03.10.tar.gz
GoogleNews-vectors-negative300.bin
.DS_STORE
__pycache__
*/__pycache__
tmp
*/tmp
.travis.yml
lome_frame_parsing/lome-server-input
lome_frame_parsing/lome-server-output
lome_frame_parsing/lome-server-orig
nesl/tmp-story-frames.lisp
*.zip
